[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-material = "*"
mkdocs-git-revision-date-plugin = "*"
mkdocs-exclude = "*"
mdx-truly-sane-lists = "*"
pymdown-extensions = "*"

[dev-packages]

[requires]
python_version = "3.9"
